<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Vietnamese Handwritten Character Recognition Services</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>


<h1>Welcome to Vietnamese Handwritten Character Recognition Services - Beta version.</h1>

<h3>Please contact with us if you would like to use API (ltdao@ctu.edu.vn)</h3>


<form action="/upload" method="post" enctype="multipart/form-data" >
        <div align="center">
            <label class="btn btn-default btn-file_chuan">
			Browse_chuan <input type="file" name="image_chuan" style="display: none;">
			</label>
			<div align="center">
			<label class="btn btn-default btn-file">
                Browse <input type="file" name="image" style="display: none;">
            </label>
			<div align="center">
            <input type="submit" value="Upload your image" class="btn btn-primary">
			
        </div>
		
    </form>


<!--
<h2>Please enter your flower measurements below:</h2>
<form action = "/prediction" method="POST">
<form  method="POST">
    <label for="sep_len">Sepal Length</label> <input id="sep_len" name="sep_len" type="text" value="">
    <br>
    <label for="sep_wid">Sepal Width</label> <input id="sep_wid" name="sep_wid" type="text" value="">
    <br>
    <label for="pet_len">Petal Length</label><input id="pet_len" name="pet_len" type="text" value="">
    <br>
    <label for="pet_wid">Petal Width</label><input id="pet_wid" name="pet_wid" type="text" value="">
    <br>
    <input id="submit" name="submit" type="submit" value="Analyze">
</form>
-->
</body>
</html>